extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis dui vel tincidunt pretium. Donec varius nisi eros, sagittis facilisis metus dapibus a. Donec suscipit eu purus ac efficitur. Ut feugiat nunc eget rutrum ornare. 

                p Quisque mollis cursus est et dignissim. Vestibulum euismod semper magna ut ornare. Integer luctus, enim non egestas placerat, nisi magna vulputate orci, non ornare ligula eros in lorem. Morbi nec ullamcorper mauris. Integer nulla urna, mattis at diam nec, bibendum blandit quam. Vivamus bibendum egestas quam. Proin tempor, enim in faucibus dapibus,

                p Nunc sodales tortor in sodales ullamcorper. Maecenas id elit a lorem porta interdum quis non neque. Sed tincidunt vehicula ante, a ornare leo ullamcorper et. Donec vitae tristique urna. Donec in euismod odio, sed laoreet risus. Quisque dignissim tempus mi, 

    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Donec vitae tristique urna. Donec in euismod odio, sed laoreet risus. Quisque dignissim tempus mi, 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Donec vitae tristique urna. Donec in euismod odio, sed laoreet risus. Quisque dignissim tempus mi, 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Donec vitae tristique urna. Donec in euismod odio, sed laoreet risus. Quisque dignissim tempus mi, 